<div class="container">
    <div class="row">
      <div class="col-2 border">
        <div class="list-group">
      
          <div><span style="color: orange;">Step 1.</span>Plan Your Goal</div>
      
      <br>
          <input type="search" id="form1" class="form-control" placeholder="Browse Your Categories"/>
        <br>
      <a href="#" class="list-group-item list-group-item-action">Health</a>
      <a href="#" class="list-group-item list-group-item-action">Home</a>
      <a href="#" class="list-group-item list-group-item-action">Fiance</a>
      <a href="#" class="list-group-item list-group-item-action">Add Ctegory</a>

        </div>
 
      </div>

      <div class="col-10">
        Goals
        <div class="container d-flex flex-wrap align-items-center">
          <div class="card m-3" style="width: 12rem;">
            <img class="card-img-top" src="../assets/health.jpeg" alt="Card image cap">
            <div class="card-body">    
              <a href="#" class="btn btn-light"> Health  </a>
            </div>
          </div>
    
          <div class="card m-3" style="width: 12rem;">
            <img class="card-img-top" src="../assets/family.jpeg" alt="Card image cap">
            <div class="card-body">
              <a href="#" class="btn btn-light">Family</a>
            </div>
          </div>

          <div class="card m-3" style="width: 12rem;">
            <img class="card-img-top" src="../assets/Finantial.jpeg" alt="Card image cap">
            <div class="card-body">
              <a href="#" class="btn btn-light">Finantial</a>
            </div>
          </div>
          <div class="card m-3" style="width: 12rem;">
            <img class="card-img-top" src="../assets/Travel.jpeg" alt="Card image cap">
            <div class="card-body">  
              <a href="#" class="btn btn-light">Travel</a>
            </div>
          </div>
        </div>      
      </div>
    </div> 

    <div class="flex">
      <div class="row">
        <div class="col">
          <button type="button" class=" button btn btn-primary float-end " >Next Step: Plan</button>
        </div>
        
      </div>
    </div>
    
    
  </div>
